.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
.DS_Store
coverage/
pubspec.lock
example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/build/
example/pubspec.lock
